<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %} Uusi käyttäjä {% endblock %}
{% block content %}
<p>Uusi käyttäjä? Luo uusi käyttäjätunnus:</p>
<form action="/register" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password1"></p>
<p>Toista salasana:<br>
<input type="password" name="password2"></p>
<input type="submit" value="Luo uusi käyttäjä">
</form>
<p>
<a href="/index">Etusivulle</a>
{% endblock %}